# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
6) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Generator Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [ ]:
sorted(my_list, key=

#### Saving to a Variable

#### Multiple Inputs

In [2]:
print(lambda x,y,z: x + y + z)(1,2,3)

x_test= lambda x,y,z: x + y + z
x_test(4,5,6)

<function <lambda> at 0x109523600>

TypeError: 'NoneType' object is not callable

#### Passing a Lambda into a Function

#### Returning a Lambda from a Function

#### If Statements within Lambdas

In [5]:
f_condition = lambda num: num *2 if num < 10 else num +2 

print(f_condition(10))

12

In [9]:
f_mult_condition = lambda num: num if num < 10 else (num * 2 if num < 15 else num * 3)

print(f_mult_condition(8))

8

In [ ]:
no_var = "

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in if the number is less than  5, otherwise double  it. Assign the anonymous function to a variable 'f'.</p>

In [17]:
f = lambda num: num ** 3 if num < 5 else num *2

print(f)
print(f(3))
print(f(12))

<function <lambda> at 0x109a980e0>
27
24

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [ ]:


def_squared(num):
    if num < 10:
        return num ** 3
    else: return num

numbers = [4, 11, 20, 3, 15, 20]

squared_nums_map = map(squared, numbers)
print(list(squared_nums_map))

#### Using Lambda's with Map

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number and minus it by one in the list by using a lambda function</p>

In [ ]:
numbers = [4,11,20,3,15,20]
more_nums = [4,10,3,2,6]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [18]:
small_name_lambda 


list(filter(lambda name: True if len(name) <= else False, names))

SyntaxError: expected 'else' after 'if' expression (2375434196.py, line 1)

#### Using Lambda's with Filter()

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [19]:
from statistics import mean

nums = [ 2, 7, 4.2,1.6,9,4.4,4.9 ]

print(mean(nums))

4.728571428571429

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

#### Using Lambda's with Reduce()

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

#### next() keyword
<p>Returns next element from the list, if not present prints the default value. If default value is not present, raises the StopIteration error.</p>

#### Creating a Generator Object
<p>The generator object will store an iterable on which we can call the next() method.</p>

<p>Use try and except to print graceful message instead of the StopIteration error:

#### In-Class Exercise #6 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [52]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

# def new_places(i): .strip() if len(i)==0
#         # return False
#     else: 
#         return True
new_places = [i for a,i in enumerate(new_places) if i!=' ']

# new_places = list(filter(lambda x: len(x) > 0, places))

# print(str(new_places))


# for i in new_places:
#     if(len(i)==0):
#         new_places.remove(i)

print(str(new_places))

['Argentina', 'San Diego', '  ', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [65]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]
lnames = []
anon = .sort(key=lambda x: x..split()[1])


 
def new_list(names):
        new_list.sort(key=lambda x: x.split()[-1])
        return authour



new_list = list(map(lambda x,y: (x * 2 -1 , y *2 -1), numbers , more_nums))
print(new_list)

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

In [76]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]
farhenheit = [] 

farhen_heit = list(map(lambda x,y: (x * 1, (y * (9/5) + 32), places, farhenheit)))
print(new_list)

TypeError: map() must have at least two arguments.

### Exercise #4 <br>
<p>Create a generator function that individually returns each movie genre back from the list</p>

In [ ]:
genres = ["adventure", "drama", "horror", "comedy", "action", "romance"]